@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  transition: background-color 0.075s, color 0.02s;
  -webkit-transition: background-color 0.075s, color 0.02s;
  -moz-transition: background-color 0.075s, color 0.02s;
  -ms-transition: background-color 0.075s, color 0.02s;
  -o-transition: background-color 0.075s, color 0.02s;
} */

* {
  transition: all 0.035s;
  -webkit-transition: all 0.035s;
  -moz-transition: all 0.035s;
  -ms-transition: all 0.035s;
  -o-transition: all 0.035s;
}